<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617941647039-lqbsq8s8t0u3sqekvo73arpgdfakst8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617941647039-lqbsq8s8t0u3sqekvo73arpgdfakst8a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617941647039-b5i1jvg0b34mpr8iqbeum7bbaeh5e7qu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxrxY9NsLZ6SmrIg2RpMen2iYS1Z08kug</string>
	<key>GCM_SENDER_ID</key>
	<string>617941647039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jikjjangApp</string>
	<key>PROJECT_ID</key>
	<string>jikjjang-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jikjjang-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617941647039:ios:20c16ec7a14e313867900a</string>
</dict>
</plist>